a, a:visited {
    color: #364052;
}

.header {
    background-color: #364052;
}

.header .pure-menu-heading {
    color: #eee;
}

.header .pure-menu-list .pure-menu-item {
    margin-right: 8px;
}

.header .pure-menu-list .pure-menu-item a {
    padding: 0.5em 0.7em;
}

.header .pure-menu-list .pure-menu-item .active {
    font-weight: bold;
    text-decoration: none;
}

.app-right-panel .pure-table {
    border: 0;
    width: 90%;
}

.app-right-panel .pure-table thead {
    background-color: transparent;
}

.app-right-panel .pure-table td, .app-right-panel .pure-table th {
    border: 0;
}

.app-right-panel .pure-table td .digest {
    font-size: 0.6em;
    color: grey;
}

.app-right-panel .pure-table td .tags span {
    padding-right: 8px;
}

.app-right-panel .pure-table td .tags span:before {
    content: "\1f3f7";
    padding-right: 8px;
}

.app-right-panel .pure-table button {
    background-color: transparent;
}

.app-left-panel .tree-list ul {
    list-style: none;
}

.app-left-panel .tree-list ul li.tree-list-leaf:before {
    content: "\1f4c1";
    padding-right: 8px;
    font-size: 0.7em;
}

.app-left-panel .tree-list ul li.tree-list-image:before {
    content: "\1f4c3";
    padding-right: 8px;
    font-size: 0.7em;
}

.app-left-panel .tree-list ul li.tree-list-leaf a.active {
    font-weight: bold;
    text-decoration: none;
}

.button-xsmall {
    padding: 0.5em 0.7em !important;
}